.menu {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 68px;
  color: #ffffff;
  margin: auto 50px;
}

.isActive {
  border-bottom: 1px solid #dc942d;
}

.notActive {
  border-bottom: 1px solid #c4c4c4;
  opacity: 0.7;
}
