
.menu {
    width: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 68px;
    color: #ffffff;
}

.isActive {
    border-color: #dc942d;
}

.notActive {
    border-color: #C4C4C4 ;
    opacity: 0.7;
}

.underline {
    width: 300px;
    border-bottom: 1px solid;
    margin-top: auto;
    border-color: inherit; 
}

